In [11]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/c3/6c/ea362eef61f05553aaf1a24b3e96b2d0603f5dc71a3bd35688a24ed88843/pandas-2.0.3-cp38-cp38-win_amd64.whl.metadata
  Using cached pandas-2.0.3-cp38-cp38-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\britishairway-data-analysis\venv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: numpy>=1.20.3 in d:\britishairway-data-analysis\venv\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in d:\britishairway-data-analysis\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   ---------------- ----------------------- 204.8/502.5 kB 6.1 MB/s eta 0:00:01
   ------------------------------ --------- 389.1/502.5 kB 4.8 MB/s eta 0:00:01
   ---------------------------------------- 502.5/502.5 kB 3.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.3 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [14]:
pip install seaborn

Collecting seaborn
  Using cached seaborn-0.12.2-py3-none-any.whl (293 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in d:\britishairway-data-analysis\venv\lib\site-packages (from seaborn) (1.24.4)
Requirement already satisfied: pandas>=0.25 in d:\britishairway-data-analysis\venv\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in d:\britishairway-data-analysis\venv\lib\site-packages (from seaborn) (3.7.3)
Requirement already satisfied: contourpy>=1.0.1 in d:\britishairway-data-analysis\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in d:\britishairway-data-analysis\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in d:\britishairway-data-analysis\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\britishairway-data-analysis\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in d:\britishairway-data-analysis\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in d:\britishairway-data-analysis\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in d:\britishairway-data-analysis\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\britishairway-data-analysis\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in d:\britishairway-data-analysis\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (6.1.0)
Requirement already satisfied: pytz>=2020.1 in d:\britishairway-data-analysis\venv\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\britishairway-data-analysis\venv\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in d:\britishairway-data-analysis\venv\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.17.0)
Requirement already satisfied: six>=1.5 in d:\britishairway-data-analysis\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [24]:
import nltk
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize
from textblob import TextBlob
#from wordcloud import WordCloud
from string import digits
import pandas as pd
import string
import seaborn as sns
import re

In [16]:
nltk.download("stopwords")
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\1998a\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [19]:
csv_path = "data/BA_reviews.csv"
df = pd.read_csv(csv_path)
df.reset_index(drop=True, inplace=True)

print(df['reviews'])

0      ✅ Trip Verified |  We started our day with BA ...
1      ✅ Trip Verified |  I fly British Airways weekl...
2      Not Verified |  Everything was ok until our co...
3      Not Verified |  My initial flight was cancelle...
4      Not Verified |  We will never fly British Airw...
                             ...
995    ✅ Trip Verified |  Manchester to London. The b...
996    ✅ Trip Verified |  San Diego to Hannover via L...
997    ✅ Trip Verified |  London Heathrow to Stuttgar...
998    ✅ Trip Verified |  London to Johannesburg. Tur...
999    ✅ Trip Verified |  Having booked BA Business C...
Name: reviews, Length: 1000, dtype: object

In [20]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   reviews     1000 non-null   object
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

        Unnamed: 0
count  1000.000000
mean    499.500000
std     288.819436
min       0.000000
25%     249.750000
50%     499.500000
75%     749.250000
max     999.000000

In [28]:
df['reviews'] = df['reviews'].str.strip()
df['reviews']=df['reviews'].str.lstrip('✅ Trip Verified |')
df['reviews']=df['reviews'].str.lstrip('Not Verified |')
df['reviews']= df['reviews'].str.lower()
print(df)

     Unnamed: 0                                            reviews
0             0  we started our day with ba in prague. the flig...
1             1  i fly british airways weekly not because i wan...
2             2  everything was ok until our connecting flight ...
3             3  my initial flight was cancelled 8 hours prior ...
4             4  we will never fly british airways again. our f...
..          ...                                                ...
995         995  manchester to london. the bag drop process too...
996         996  san diego to hannover via london. i booked on ...
997         997  london heathrow to stuttgart. absolutely disgu...
998         998  london to johannesburg. turning right to the f...
999         999  having booked ba business class and paid extra...

[1000 rows x 2 columns]